.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
}

.canvasContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.canvasContainer canvas {
  width: 100% !important;
  height: 100% !important;
} 